---
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class={`flex w-full items-center justify-center ${className}`}>
  <div class="flex flex-col items-center gap-6">
    <!-- The 4 merging images (top) -->
    <div class="relative flex h-12.5 w-50 items-center justify-center">
      <img
        src="/assets/images/autoedit-animation/k-1.png"
        alt="Angle 1"
        class="img-1 absolute h-auto w-10"
      />
      <img
        src="/assets/images/autoedit-animation/k-2.png"
        alt="Angle 2"
        class="img-2 absolute h-auto w-10"
      />
      <img
        src="/assets/images/autoedit-animation/k-3.png"
        alt="Angle frame 3"
        class="img-3 absolute h-auto w-10"
      />
      <img
        src="/assets/images/autoedit-animation/k-4.png"
        alt="Angle frame 4"
        class="img-4 absolute h-auto w-10"
      />
    </div>

    <!-- The revealed gif (below) -->
    <div class="flex h-45 w-45 items-center justify-center">
      <img
        src="/assets/images/autoedit-animation/k.gif"
        alt="K4MERA animation result"
        class="result-gif h-auto w-full opacity-0"
      />
    </div>
  </div>
</div>

<style>
  .img-1 {
    animation: merge-1 4s ease-in-out infinite;
  }

  .img-2 {
    animation: merge-2 4s ease-in-out infinite;
  }

  .img-3 {
    animation: merge-3 4s ease-in-out infinite;
  }

  .img-4 {
    animation: merge-4 4s ease-in-out infinite;
  }

  .result-gif {
    animation: reveal-gif 4s ease-in-out infinite;
  }

  /* Image 1 - far left */
  @keyframes merge-1 {
    0% {
      transform: translateX(-75px);
      opacity: 1;
    }
    5% {
      transform: translateX(-75px);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 0.5;
    }
    75% {
      transform: translateX(0);
      opacity: 0.5;
    }
    90% {
      transform: translateX(-75px);
      opacity: 1;
    }
    100% {
      transform: translateX(-75px);
      opacity: 1;
    }
  }

  /* Image 2 - left of center */
  @keyframes merge-2 {
    0% {
      transform: translateX(-25px);
      opacity: 1;
    }
    5% {
      transform: translateX(-25px);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 0.5;
    }
    75% {
      transform: translateX(0);
      opacity: 0.5;
    }
    90% {
      transform: translateX(-25px);
      opacity: 1;
    }
    100% {
      transform: translateX(-25px);
      opacity: 1;
    }
  }

  /* Image 3 - right of center */
  @keyframes merge-3 {
    0% {
      transform: translateX(25px);
      opacity: 1;
    }
    5% {
      transform: translateX(25px);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 0.5;
    }
    75% {
      transform: translateX(0);
      opacity: 0.5;
    }
    90% {
      transform: translateX(25px);
      opacity: 1;
    }
    100% {
      transform: translateX(25px);
      opacity: 1;
    }
  }

  /* Image 4 - far right */
  @keyframes merge-4 {
    0% {
      transform: translateX(75px);
      opacity: 1;
    }
    5% {
      transform: translateX(75px);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 0.5;
    }
    75% {
      transform: translateX(0);
      opacity: 0.5;
    }
    90% {
      transform: translateX(75px);
      opacity: 1;
    }
    100% {
      transform: translateX(75px);
      opacity: 1;
    }
  }

  /* Gif reveal - fade in/out only */
  @keyframes reveal-gif {
    0% {
      opacity: 0;
    }
    12% {
      opacity: 0;
    }
    22% {
      opacity: 1;
    }
    72% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
</style>
