---
import type { InstagramPostProps } from "./InstagramPost.astro";
import InstagramPost from "./InstagramPost.astro";

interface Props {
  posts: InstagramPostProps[];
}
const { posts } = Astro.props;
---

<style>
  .track {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
</style>

<div class="scroll-container w-full overflow-hidden">
  <div class="w-full track gap-x-8 md:gap-x-60 items-center">
    {[...posts, ...posts].map((post) => <InstagramPost post={post} />)}
    {[...posts, ...posts].map((post) => <InstagramPost post={post} />)}
  </div>
</div>

<script>
  const track = document.querySelector(".track");
  const posts = document.querySelectorAll(".track > *");

  if (track && posts.length) {
    const animation = track.getAnimations()[0];

    posts.forEach((post) => {
      post.addEventListener("mouseenter", () => {
        if (animation) animation.playbackRate = 0.66;
      });

      post.addEventListener("mouseleave", () => {
        if (animation) animation.playbackRate = 1;
      });
    });
  }
</script>
