---
interface Props {
  id: string;
  state: "loading" | "error" | "empty";
}

const { id, state } = Astro.props;

const messages: Record<string, string> = {
  loading: "Loading products",
  error: "Unable to load products.\nPlease try again later",
  empty: "Nothing to see here",
};

const isHidden = state !== "loading";
const showButtons = state === "error" || state === "empty";
const textOpacity =
  state === "empty" ? "text-custom-black/60" : "text-custom-black";
const align = state === "loading" ? "flex justify-center" : "text-center";
const dotsId = `${id}-dots`;
---

<div id={id} class:list={[align, "py-12", { hidden: isHidden }]}>
  <p class:list={["text-xl font-aileron-regular", textOpacity]}>
    {messages[state]}<span
      id={dotsId}
      class="inline-block w-[1.5ch] text-left dots-animated"></span>
  </p>
  {
    showButtons && (
      <div class="flex flex-col gap-2 mt-8 items-center">
        <a
          href="https://form.typeform.com/to/kRmB5TdA"
          target="_blank"
          class="px-3 py-2 bg-accent-blue text-custom-white rounded-lg font-inter hover:opacity-75 transition-opacity"
        >
          Join waitlist
        </a>
        <a
          href="/"
          class="text-custom-black hover:underline hover-accent-blue font-inter"
        >
          Back home
        </a>
      </div>
    )
  }
</div>

<script>
  document.querySelectorAll(".dots-animated").forEach((dots) => {
    const delays = [100, 100, 100, 100, 1000];
    let count = 0;
    const animate = () => {
      dots.textContent = ".".repeat(count);
      const delay = delays[count];
      count = (count + 1) % 5;
      setTimeout(animate, delay);
    };
    animate();
  });
</script>
